In [5]:
import pandas as pd
import os
import csv
import numpy as np
import matplotlib as plt

In [6]:
# Read CSV File
csv_path = "Resources/Premier League Player Stats.csv"
csv_path

'Resources/Premier League Player Stats.csv'

In [11]:
# Create a DataFrame
player_stats_df = pd.read_csv(csv_path)
player_stats_df.head()

,Rank,PLAYER,TEAM,GP,GS,MIN,G,ASST,SHOTS,SOG
0,1,Jamie Vardy,Leicester City,35,34,3034,23,5,71,43
1,2,Danny Ings,Southampton,38,32,2812,22,2,66,38
2,3,Pierre-Emerick Aubameyang,Arsenal,36,35,3138,22,3,70,42
3,4,Raheem Shaquille Sterling,Manchester City,33,30,2660,20,1,68,38
4,5,Mohamed Salah Ghaly,Liverpool,34,33,2884,19,10,95,59

In [16]:
# number of Players
player_stats_count = len(player_stats["PLAYER"].unique())
player_stats_count

540

In [18]:
# Top Performing Team
player_stats_df = player_stats_df.sort_values("TEAM")
player_stats_df

,Rank,PLAYER,TEAM,GP,GS,MIN,G,ASST,SHOTS,SOG
202,203,Reiss Nelson,Arsenal,17,7,627,1,0,6,4
166,167,Eddie Nketiah,Arsenal,13,7,633,2,0,13,5
433,434,Rob Holding,Arsenal,8,6,581,0,0,2,0
330,331,Dani Ceballos,Arsenal,24,18,1699,0,2,8,3
453,454,Shkodran Mustafi,Arsenal,15,13,1205,0,1,9,4
...,...,...,...,...,...,...,...,...,...,...
328,329,Willy Boly,Wolverhampton Wanderers,22,22,1979,0,1,3,3
38,39,Diogo José Teixeira da Silva,Wolverhampton Wanderers,34,27,2297,7,1,46,26
491,492,Bruno André Cavaco Jordão,Wolverhampton Wanderers,1,0,6,0,0,0,0
7,8,Raúl Alonso Jiménez Rodríguez,Wolverhampton Wanderers,38,37,3244,17,6,89,44
76,77,Matt Doherty,Wolverhampton Wanderers,36,32,2840,4,3,26,16

In [19]:
# Find goals per min 
goals_permin = player_stats_df["G"]/player_stats_df["MIN"]
goals_permin

202    0.001595
166    0.003160
433    0.000000
330    0.000000
453    0.000000
         ...
328    0.000000
38     0.003047
491    0.000000
7      0.005240
76     0.001408
Length: 540, dtype: float64

In [20]:
# Create a new column
player_stats_df["GOALS PERMIN"]= goals_permin
player_stats_df.head()

,Rank,PLAYER,TEAM,GP,GS,MIN,G,ASST,SHOTS,SOG,GOALS PERMIN
202,203,Reiss Nelson,Arsenal,17,7,627,1,0,6,4,0.001595
166,167,Eddie Nketiah,Arsenal,13,7,633,2,0,13,5,0.003160
433,434,Rob Holding,Arsenal,8,6,581,0,0,2,0,0.000000
330,331,Dani Ceballos,Arsenal,24,18,1699,0,2,8,3,0.000000
453,454,Shkodran Mustafi,Arsenal,15,13,1205,0,1,9,4,0.000000

In [21]:
# Find Goal% 
player_stats_df["GOAL%"] = player_stats_df["G"]/player_stats_df["SOG"]*100
player_stats_df.head()

,Rank,PLAYER,TEAM,GP,GS,MIN,G,ASST,SHOTS,SOG,GOALS PERMIN,GOAL%
202,203,Reiss Nelson,Arsenal,17,7,627,1,0,6,4,0.001595,25.0
166,167,Eddie Nketiah,Arsenal,13,7,633,2,0,13,5,0.003160,40.0
433,434,Rob Holding,Arsenal,8,6,581,0,0,2,0,0.000000,NaN
330,331,Dani Ceballos,Arsenal,24,18,1699,0,2,8,3,0.000000,0.0
453,454,Shkodran Mustafi,Arsenal,15,13,1205,0,1,9,4,0.000000,0.0

In [26]:
# Remove NANS
player_stats_df.fillna(0,inplace=True)
player_stats_df

,Rank,PLAYER,TEAM,GP,GS,MIN,G,ASST,SHOTS,SOG,GOALS PERMIN,GOAL%
202,203,Reiss Nelson,Arsenal,17,7,627,1,0,6,4,0.001595,25.000000
166,167,Eddie Nketiah,Arsenal,13,7,633,2,0,13,5,0.003160,40.000000
433,434,Rob Holding,Arsenal,8,6,581,0,0,2,0,0.000000,0.000000
330,331,Dani Ceballos,Arsenal,24,18,1699,0,2,8,3,0.000000,0.000000
453,454,Shkodran Mustafi,Arsenal,15,13,1205,0,1,9,4,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
328,329,Willy Boly,Wolverhampton Wanderers,22,22,1979,0,1,3,3,0.000000,0.000000
38,39,Diogo José Teixeira da Silva,Wolverhampton Wanderers,34,27,2297,7,1,46,26,0.003047,26.923077
491,492,Bruno André Cavaco Jordão,Wolverhampton Wanderers,1,0,6,0,0,0,0,0.000000,0.000000
7,8,Raúl Alonso Jiménez Rodríguez,Wolverhampton Wanderers,38,37,3244,17,6,89,44,0.005240,38.636364
76,77,Matt Doherty,Wolverhampton Wanderers,36,32,2840,4,3,26,16,0.001408,25.000000

In [30]:
# Find highest score with shots accuracy
player_stats_df = player_stats_df.sort_values["GOAL%", ascending=True]
player_stats_df.head()

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (2837997352.py, line 2)